

<ng-container *ngIf="loader==false;else elseloader">

<div class="d-flex justify-content-center">

  <form (ngSubmit)="onsubmit()" [formGroup]="sigin_form "
    class=" w-md-100 w-sm-50  m-5 border border-3 p-5 bg-light rounded-5">


    <!-- <form (ngSubmit)="onsubmit()" [formGroup]="sigin_form" class=" w-md-50 w-sm-100  m-5 border border-2 p-5 bg-light rounded-5"> -->
    <div class="form-group m-2  d-flex justify-content-between">
      <p class="fw-bolder h2 "> Login</p>
    </div>

    <div class="form-group m-2">
      <label for="uemail">Enter Email ID:</label>
      <input type="text" name="uemail" id="uemail" formControlName="Email" class="form-control">
      <span *ngIf="
      !Email!.valid &&
      Email!.dirty
    " class="text-danger">
        <span *ngIf="(Email)!.errors?.['required']">
          *Email is required
        </span>
        <span *ngIf="(Email)!.errors?.['email']"> *Invalid Email </span>



      </span>
    </div>
    <div class="form-group m-2">

      <label for="pass">Password :</label>

      <input type="password" name="pass" id="pass" formControlName="Password" class="form-control">


      <span *ngIf="
      !Password!.valid &&
     Password!.dirty
    " class="text-danger">
        <span *ngIf="(Password)!.errors?.['required']">
          *Password is required
        </span>
        <span *ngIf="(Password)!.errors?.['pattern']"> *atleast 1 uppercase,lowercase,<br>special character,number
        </span>



      </span>
    </div>
    <br>
    <div class="form-group m-2 ">
      <button type="submit" class="btn btn-danger w-100" [disabled]="!sigin_form.valid" >Login</button>
      <!-- <button type="submit" class="btn btn-danger w-100">Login</button> -->

    </div>

    <div class="text-center mt-5">

      <p> <a routerLink="/forgetpasword" class="text-decoration-none text-dark">Forget Password?</a>
      </p>

      <p>
        <a routerLink="/signup" class="text-decoration-none text-dark"> New to Magicbricks?</a>
      </p>
    </div>
  </form>
</div>



</ng-container>

<ng-template #elseloader>

<div
class="  d-flex flex-column gap-3 justify-content-center align-items-center text-danger    bg-opacity-100  my-5 " >



<div class="spinner-border " style="width: 5rem; height: 5rem;" role="status">



</div>

<div class=" h4 my-color">

  Loading ...

</div>

</div>
</ng-template>
