
<ng-container *ngIf="loader==false;else elseloader">
<div class="d-flex justify-content-center" >

  <div *ngIf="useremailform_visibility" class=" w-md-100 w-sm-50  m-5 border border-3 p-5 bg-light rounded-5">


    <form [formGroup]="useremailform" (ngSubmit)="checkUser()">
      <p class="fs-3 text-danger">
        Forget password:
      </p>

      <div class="form-group">
        <label for="useremail">Registered Email:</label>

        <input type="email" name="useremail" id="useremail" formControlName="Email" class="form-control">
        <span *ngIf="
        !Email!.valid &&
        Email!.dirty
      " class="text-danger">
          <span *ngIf="(Email)!.errors?.['required']">
            *Email is required
          </span>
          <span *ngIf="(Email)!.errors?.['email']"> *Invalid Email </span>



        </span>
      </div>
      <br>
      <button type="submit" class="btn btn-danger w-100" [disabled]="!useremailform.valid">send otp</button>

    </form>
  </div>

  <br>
  <br>
  <div *ngIf="otpform_visibility" class=" w-md-100 w-sm-50  m-5 border border-3 p-5 bg-light rounded-5">
    <form [formGroup]="otpform" (ngSubmit)="checkotp()">
      <p class="fs-3 text-danger">
        Forget password:
      </p>

      <div class="form-group">
        <label for="otp">OTP:</label>
        <input type="otp" name="otp" id="otp" formControlName="otp" class="form-control" maxlength="4">

        <span *ngIf="
        !otp!.valid &&
        otp!.dirty
      " class="text-danger">
          <span *ngIf="(otp)!.errors?.['required']">
            *otp is required
          </span>
          <span *ngIf="(otp)!.errors?.['pattern']"> *Otp shuld be number </span>



        </span>
      </div>
      <br>
      <button type="submit" class="btn btn-danger w-100" [disabled]="!otpform.valid ">verify otp</button>

    </form>
  </div>



  <div *ngIf="passwordform_visibility" class=" w-md-100 w-sm-50  m-5 border border-3 p-5 bg-light rounded-5">

    <form [formGroup]="passwordform" (ngSubmit)="setpassword()">
      <p class="fs-3 text-danger">
        Forget password:
      </p>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" formControlName="password" class="form-control">

        <span *ngIf="
      !password!.valid &&
      password!.dirty
    " class="text-danger">
        <span *ngIf="(password)!.errors?.['required']">
          *Password is required
        </span>
        <span *ngIf="(password)!.errors?.['pattern']"> *atleast 1 uppercase,lowercase,<br>special character,number
        </span>



      </span>
      </div>

      <div class="form-group">
        <label for="cpassword">Confirm Password:</label>
        <input type="password" name="cpassword" id="cpassword" formControlName="cpassword" class="form-control">
        <span *ngIf="
        !cpassword!.valid &&
        cpassword!.dirty
      " class="text-danger">
          <span *ngIf="(password)!.errors?.['required']">
            *Confirm password is required
          </span>
          <span *ngIf="(cpassword)!.errors?.['pattern']"> *atleast 1 uppercase,lowercase,<br>special character,number
          </span>



        </span>
      </div>
      <br>

      <button type="submit" class="btn btn-danger w-100" [disabled]="!passwordform.valid">save password</button>

    </form>

  </div>


</div>
</ng-container>

<ng-template #elseloader>

<div
class="  d-flex flex-column gap-3 justify-content-center align-items-center text-danger    bg-opacity-100  my-5 " >



<div class="spinner-border " style="width: 5rem; height: 5rem;" role="status">



</div>

<div class=" h4 my-color">

  Loading ...

</div>

</div>
</ng-template>
